

	<!-- - - - - - - - - - - - - - Page Header - - - - - - - - - - - - - - - -->

	<section class="page-header">

		<div class="container">

			<h1>Events</h1>

		</div><!--/ .container-->

	</section><!--/ .page-header-->

	<!-- - - - - - - - - - - - - end Page Header - - - - - - - - - - - - - - -->

	<!-- - - - - - - - - - - - - - Main - - - - - - - - - - - - - - - - -->

	<section class="main container sbr clearfix">

		<!-- - - - - - - - - - Breadcrumbs - - - - - - - - - - - - -->

		<div class="breadcrumbs">

			<a title="Home" href="index.html">Home</a>
			<span>Events</span>

		</div><!--/ .breadcrumbs-->

		<!-- - - - - - - - - end Breadcrumbs - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

		<section id="content" class="ten columns">

			<article class="entry event">

				<div class="bordered">
					<figure class="add-border">
						<a class="single-image" href="../../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/event-single.html"><img src="images/blog/blog-img-1.jpg" alt="" /></a>
					</figure>
				</div><!--/ .bordered-->

				<div class="entry-meta">

					<span class="date">27</span>
					<span class="month">sep</span>

				</div><!--/ .entry-meta-->

				<div class="entry-body">

					<div class="entry-title">

						<h2 class="title"><a href="../../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/event-single.html">Event Title Goes Here</a></h2>

						<span class="e-date"><b>September 27, 2012 – September 29, 2012</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
							<strong>10:00 am – 3:00 pm </strong>
						</span>
						<span class="place"><b>Place: </b>New York, Empire State Building</span>

					</div><!--/ .entry-title-->

					<p>
						Congue tempor, dapibus et metus. Fusce ac ipsum at magna accumsan dolor.
					</p>

					<a href="../../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/event-single.html" class="button default small">Event Details</a>

				</div><!--/ .entry-body -->

			</article><!--/ .entry-->

			<article class="entry event">

				<div class="entry-meta">

					<span class="date">24</span>
					<span class="month">sep</span>

				</div><!--/ .entry-meta-->

				<div class="entry-body">

					<div class="entry-title">

						<h2 class="title"><a href="../../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/event-single-without-image.html">Event Repeating Every Sunday</a></h2>

						<span class="e-date"><b>September 23, 2012</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
							<strong>10:00 am – 2:00 pm </strong>
						</span>
						<span class="place"><b>Place: </b>New York, Empire State Building</span>

					</div><!--/ .entry-title-->

					<p>
						Donec tellus nunc, sollicitudin eu congue tempor, dapibus et metus.
						Fusce ac ipsum at magna accumsan scelerisque sedon dolor.
					</p>

					<a href="../../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/event-single-without-image.html" class="button default small">Event Details</a>

				</div><!--/ .entry-body -->

			</article><!--/ .entry-->

			<article class="entry event">

				<div class="entry-meta">

					<span class="date">24</span>
					<span class="month">sep</span>

				</div><!--/ .entry-meta-->

				<div class="entry-body">

					<div class="entry-title">

						<h2 class="title"><a href="../../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/event-single-without-image.html">Event Repeating Every Sunday</a></h2>

						<span class="e-date"><b>September 23, 2012 – September 24, 2012</b>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
							<strong>09:00 am – 11:00 am </strong>
						</span>
						<span class="place"><b>Place: </b>Los Angeles Olympic Stadium</span>

					</div><!--/ .entry-title-->

					<p>
						Donec tellus nunc, sollicitudin eu congue tempor, dapibus et metus.
						Fusce ac ipsum at magna accumsan scelerisque sedon dolor.
					</p>

					<a href="../../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/event-single-without-image.html" class="button default small">Event Details</a>

				</div><!--/ .entry-body -->

			</article><!--/ .entry-->

		</section><!--/ #content-->

		<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - - -->

		<aside id="sidebar" class="one-third column">

			<div class="widget widget_search">

				<form action="/" method="post" id="searchform">

					<fieldset>

						<input type="text" />

						<button type="submit" title="Search">Search</button>

					</fieldset>

				</form><!--/ #searchform-->

			</div><!--/ .widget-->

			<div class="widget widget_popular_posts">

				<h3 class="widget-title">Popular Posts</h3>

				<ul>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="#"><img src="images/temp/recent-img-1.jpg" alt="" /></a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="#">Donec rutrum lobortis nulla</a></h6>
						<div class="entry-meta">Sep, 15, <a href="#">2 Comments</a></div>
					</li>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="#"><img src="images/temp/recent-img-2.jpg" alt="" /></a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="#">Consequuntur magni dolores eos qui ratione</a></h6>
						<div class="entry-meta">Sep, 15, <a href="#">2 Comments</a></div>
					</li>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="#"><img src="images/temp/recent-img-3.jpg" alt="" /></a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="#">Nulla vitae elit libero, a pharetra augue</a></h6>
						<div class="entry-meta">Sep, 15, <a href="#">2 Comments</a></div>
					</li>
				</ul>

			</div><!--/ .widget-->

			<div class="widget widget_categories">

				<h3 class="widget-title">Categories</h3>

				<ul>
					<li><a href="#">Announcements</a></li>
					<li><a href="#">Community</a></li>
					<li><a href="#">Ministries</a></li>
					<li><a href="#">Missions</a></li>
				</ul>

			</div><!--/ .widget-->

			<div class="widget widget_latest_tweets">

				<h3 class="widget-title">Latest Tweets</h3>

				<div id="tweet"></div>

			</div><!--/ .widget-->

		</aside><!--/ #sidebar-->

		<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - -->


	</section><!--/ .main -->

	<!-- - - - - - - - - - - - - end Main - - - - - - - - - - - - - - - - -->

