<header id="header">

  <div class="container">

    <!-- - - - - - - - - - - - Logo - - - - - - - - - - - - - -->

    <a ui-sref="index" id="logo">
      <h1>SJCCM</h1>
    </a><!--/ #logo-->

    <!-- - - - - - - - - - - end Logo - - - - - - - - - - - - -->

    <a href="" class="col-xs-1">
      <i class="fa fa-beer fa-lg md-text-yellow"></i>
      <span class="badge badge-sm up bg-danger count" ng-if="responds.length">{{responds.length}}</span>
    </a>

    <!-- - - - - - - - - - - - Event Holder - - - - - - - - - - - - - -->

    <timer end-time="date" class="event-holder clearfix" ng-if="date">
      <b>下次活動:</b>
      <span class="event-numbers">{{days}}</span>
      <span class="event-text">天</span>
      <span class="event-numbers">{{hours}}</span>
      <span class="event-text">小時</span>
      <span class="event-numbers">{{minutes}}</span>
      <span class="event-text">分</span>
      <span class="event-numbers">{{seconds}}</span>
      <span class="event-text">秒</span>
    </div><!--/ .event-holder-->

    <!-- - - - - - - - - - - end Event Holder - - - - - - - - - - - - -->

    <div class="clear"></div>

    <!-- - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - -->

    <nav id="navigation" class="navigation clearfix">

      <ul class="clearfix">
        <li class="current-menu-item"><a ui-sref="index">首頁</a></li>
        <li><a ui-sref="admin">管理</a></li>
        <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/staff.html">Staff</a></li>
        <li><a ui-sref="events">近期活動</a></li>
        <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-1-column-full-width.html">Portfolio</a>
          <ul>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-1-column-full-width.html">Full Width</a>
              <ul>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-1-column-full-width.html">1 Column</a></li>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-2-columns-full-width.html">2 Columns</a></li>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-3-columns-full-width.html">3 Columns</a></li>
              </ul>
            </li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-1-column-with-right-sidebar.html">With Sidebar</a>
              <ul>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-1-column-with-right-sidebar.html">1 Column</a></li>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-2-columns-with-right-sidebar.html">2 Columns</a></li>
              </ul>
            </li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-3-columns-full-width.html">With Filters</a></li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/portfolio-mixed.html">Mixed</a></li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/single-page-full-width.html">Single Page</a>
              <ul>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/single-page-full-width.html">Full Width</a></li>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/single-page-with-right-sidebar.html">With Sidebar</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-2-columns-full-width.html">Galleries</a>
          <ul>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-2-columns-full-width.html">Full Width</a>
              <ul>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-2-columns-full-width.html">2 Columns</a></li>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-3-columns-full-width.html">3 Columns</a></li>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-4-columns-full-width.html">4 Columns</a></li>
              </ul>
            </li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-2-columns-with-right-sidebar.html">With Sidebar</a>
              <ul>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-2-columns-with-right-sidebar.html">2 Columns</a></li>
              </ul>
            </li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-3-columns-full-width.html">With Filters</a></li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/gallery-mixed.html">Mixed</a></li>
          </ul>
        </li>
        <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/blog.html">News</a>
          <ul>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/blog.html">All News</a></li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/blog.html">Date Archives</a>
              <ul>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/blog.html">Year Archive</a></li>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/blog.html">Month Archive</a></li>
                <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/blog.html">Day Archive</a></li>
              </ul>
            </li>
            <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/blog-single.html">Single Post</a></li>
          </ul>
        </li>
        <li><a href="../../themeforest-3080448-blessing-responsive-html5css3-template/Blessing-HTML5-CSS-Template/contacts.html">Contacts</a></li>
      </ul>

    </nav><!--/ #navigation-->

    <!-- - - - - - - - - - - - end Navigation - - - - - - - - - - - - - -->

  </div><!--/ .container-->

</header><!--/ #header-->
